<div class="categories">
  <h2>Menu Categories</h2>
  <div ng-if="!$ctrl.categories || $ctrl.categories.length === 0">
    Loading categories...
  </div>
  <ul class="list-group" ng-if="$ctrl.categories && $ctrl.categories.length > 0">
    <li class="list-group-item" ng-repeat="category in $ctrl.categories">
      <a ui-sref="items({categoryShortName: category.short_name})">
        {{ category.name }} ({{ category.short_name }})
      </a>
      <div ng-if="category.special_instructions" class="small text-muted">
        {{ category.special_instructions }}
      </div>
    </li>
  </ul>
</div>
